<div class="container">
    <div class="row w-100 pb-3">
        <div class="col-lg-12 d-flex align-items-center justify-content-center">
            <canvas baseChart height="400" [width]="chartWidth" [options]="chartOptions"
                [datasets]="data.logData.series" [labels]="data.logData.labels" [chartType]="'bar'"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 table-responsive-lg">
            <table class="table table-sm table-striped table-hover">
                <thead class="">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Date</th>
                        <th scope="col">Backup ID</th>
                        <th scope="col">Target ID</th>
                        <th scope="col">Type</th>
                        <th scope="col">Output</th>
                        <th scope="col">Error Output</th>
                        <th scope="col">Success</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let logEntry of data.logEntries; index as i">
                        <th scope="row">
                            {{ i + 1 }}
                        </th>
                        <td>{{logEntry.date}}</td>
                        <td>{{logEntry.backupId}}</td>
                        <td>{{logEntry.targetId}}</td>
                        <td>{{logEntry.type}}</td>
                        <td><code>{{logEntry.output}}</code></td>
                        <td><code>{{logEntry.errorOutput}}</code></td>
                        <td>{{logEntry.success}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>